<appToolBar [title]="title"></appToolBar>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Thêm mới sản phẩm</h4>
          <form [formGroup]="myForm" class="forms-sample mt-5" novalidate (ngSubmit)="SaveInput()">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Tên sản phẩm</label>
                  <input type="text" formControlName="name"  required class="form-control" (keyup)="aliasChange($event)" name="name" placeholder="Tên sản phẩm" [(ngModel)]="inputModel.name" >
                  <div *ngIf="isShowError" class="mt-2">
                    <div *ngIf="myForm.get('name')?.errors?.['required']" style="color: red; font-size: 14px;">Name is required.
                     </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Tiêu đề SEO</label>
                  <input type="text" class="form-control" formControlName="alias" required id="" name="alias" placeholder="Tiêu đề SEO" [(ngModel)]="inputModel.alias" > 
                  <div *ngIf="isShowError" class="mt-2">
                    <div *ngIf="myForm.get('alias')?.errors?.['required']" style="color: red; font-size: 14px;">Alias is required.
                     </div>
                  </div>
                </div>
              </div> 
             <div class="col-md-3">
                <div class="form-group">
                  <label for="">Danh mục</label>
                    <select style="color: #333;" (change)="selectedChange($event)"  class="form-control" style="color:black;">
                        <option value="" hidden>--Chọn danh mục--</option>
                        <option  *ngFor="let opt of listProductCategory"
                            [value]="opt.id"
                            [selected]="inputModel.categoryID == opt.id"
                        >
                        {{opt.name}}
                        </option>
                    </select>
                    <input type="number" formControlName="categoryID" name="categoryID" [(ngModel)]="inputModel.categoryID" hidden >
                    <div *ngIf="isShowError" class="mt-2">
                        <div *ngIf="myForm.get('categoryID')?.errors?.['required']" style="color: red; font-size: 14px;">CategoryID is required.</div>
                    </div>
                  </div>
              </div>
               <div class="col-md-3">
                <div class="form-group">
                  <label for="">Bảo hành</label>
                  <input type="text" formControlName="warranty" class="form-control" id="warranty" name="warranty" placeholder="Bảo hành" [(ngModel)]="inputModel.warranty" />
                  <div *ngIf="isShowError" class="mt-2">
                    <div *ngIf="myForm.get('warranty')?.errors?.['required']" style="color: red; font-size: 14px;">Warranty is required.
                     </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Giá</label>
                  <input formControlName="price" type="text" placeholder="Giá sản phẩm" class="form-control" id="" name="price" [(ngModel)]="inputModel.price" >
                  <div *ngIf="isShowError" class="mt-2">
                    <div *ngIf="myForm.get('price')?.errors?.['required']" style="color: red; font-size: 14px;">Price is required.
                     </div>
                     <div *ngIf="myForm.get('price')?.errors?.['min']" style="color: red; font-size: 14px;">Price is min.
                    </div>
                    <div *ngIf="myForm.get('price')?.errors?.['pattern']" style="color: red; font-size: 14px;">Price is number.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Giá KM</label>
                  <input type="text" formControlName="promotion" class="form-control" id="" name="promotion" placeholder="Giá khuyến mãi" [(ngModel)]="inputModel.promotion" >
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Hình ảnh</label>
                  <div class="input-group col-xs-12">
                    <input type="text" value="{{inputModel.image}}" readonly class="form-control file-upload-info" placeholder="Tải hình ảnh lên">
                    <label for="updFileImg" class="file-upload-browse btn btn-primary">
                      Chọn file
                    </label>
                    <input id="updFileImg" formControlName="image"  type="file" class="file-upload-default" (change)="onSelectFile($event)">
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-3">
                <div class="form-group">
                  <label>Danh sách hình ảnh</label>
                  <div class="input-group col-xs-12">
                    <input type="text" formControlName="moreImages" name="moreImages" [(ngModel)]="inputModel.moreImages" readonly class="form-control file-upload-info"  placeholder="Tải hình ảnh lên">
                    <label for="updFileImgs" class="file-upload-browse btn btn-primary">
                      Chọn file
                    </label>
                    <input id="updFileImgs" formControlName="moreImages" type="file" class="file-upload-default" multiple (change)="onSelectFile($event)">
                  </div>
                </div>
              </div> -->
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Meta Keyword</label>
                  <input type="text" formControlName="metaKeyWord" class="form-control" id="" name="metaKeyWord" [(ngModel)]="inputModel.metaKeyWord" placeholder="Meta KeyWord">
                  <div *ngIf="isShowError" class="mt-2">
                    <div *ngIf="myForm.get('metaKeyWord')?.errors?.['required']" style="color: red; font-size: 14px;">Meta KeyWord is required.
                     </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Meta Description</label>
                  <textarea class="form-control" formControlName="metaDesc" id="" name="metaDesc" [(ngModel)]="inputModel.metaDesc" rows="4" placeholder="Meta Description"></textarea>
                  <div *ngIf="isShowError" class="mt-2">
                    <div *ngIf="myForm.get('metaDesc')?.errors?.['required']" style="color: red; font-size: 14px;">Meta Description is required.
                     </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Tags</label>
                  <input class="form-control" formControlName="tags" id="" name="tags" [(ngModel)]="inputModel.tags" placeholder="Tags" />
                  <div *ngIf="isShowError" class="mt-2">
                    <div *ngIf="myForm.get('tags')?.errors?.['required']" style="color: red; font-size: 14px;">Tags is required.
                     </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                    <label for="">Mô tả sản phẩm</label>
                    <ckeditor formControlName="description" [(ngModel)]="inputModel.description" name="description" [editor]="Editor" ></ckeditor>
                  </div>
              </div>
              <div class="col-md-12">
                <div class="">
                  <input formControlName="status" type="checkbox" name="status" [(ngModel)]="inputModel.status" [checked]="inputModel.status" id="active">
                  <label style="margin-left:10px" for="active">Kích hoạt</label>
                </div>
                <div class="">
                  <input formControlName="homeFlag" type="checkbox" name="homeFlag" [(ngModel)]="inputModel.homeFlag" [checked]="inputModel.homeFlag" id="showPageMain">
                  <label style="margin-left:10px" for="showPageMain">Hiển thị trang chủ</label>
                </div>
                <div class="">
                    <input formControlName="hotFlag" type="checkbox" name="hotFlag" [(ngModel)]="inputModel.hotFlag" [checked]="inputModel.hotFlag" id="hotProduct">
                    <label style="margin-left:10px" for="hotProduct">Sản phẩm Hot</label>
                  </div>
              </div>
              <div class="col-md-12 mt-3">
                <button type="button" (click)="onBack()" class="btn btn-light">Hủy</button>
                <button type="submit" class="btn btn-primary mr-2">Lưu</button>
              </div>
            </div>
          </form>        
      </div>
    </div>
  </div>
</div>



