/* You can add global styles to this file, and also import other style files */
/* ======= notification message ======== */

#notification {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.notification {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.notification--success {
    border-color: #47d864;
}

.notification--success .notification__icon {
    color: #47d864;
}

.notification--info {
    border-color: #2f86eb;
}

.notification--info .notification__icon {
    color: #2f86eb;
}

.notification--warning {
    border-color: #ffc021;
}

.notification--warning .notification__icon {
    color: #ffc021;
}

.notification--error {
    border-color: #ff623d;
}

.notification--error .notification__icon {
    color: #ff623d;
}

.notification + .notification {
    margin-top: 24px;
}

.notification__icon {
    font-size: 24px;
}

.notification__icon,
.notification__close {
    padding: 0 16px;
}

.notification__body {
    flex-grow: 1;
}

.notification__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.notification__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.notification__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
  